* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    background-image: url(images/weblogo.png);
    background-color: rgba(202, 202, 202, 0.5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}
  
body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.61);
}

#not_found {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_found {
    position: absolute;
    text-align: center;
    width: fit-content;
}

.not_found_404 img {
    height: 200px;
}

.not_found h2 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Cabin', sans-serif;
    color: #252422;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
}

.not_found p {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 10px;
}

.button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    margin: 15px 0 0 0;
    border: 3px solid #000000;
    border-style: dashed;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ff6c32;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 3px solid #000000;
    border-style: dashed;
}

.button:hover:before {
    top: -35%;
    background-color: #ff6c32;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #ff6c32;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}